{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Enlace al archivo de estilos CSS específico para el formulario -->
<link rel="stylesheet" href="{% static 'css/register.css' %}">

<div class="col">
    <!-- Incluir mensajes de error o éxito generados por el sistema -->
    {% include 'messages.html' %}

    <div>
      <p style="margin-bottom: 5px;">LISTADO DE ASOCIADOS HABILES E INHABILES</p>
      <p style="margin-top: 0;">CORTE AL 31 DE DICIEMBRE DE 2024</p>
    </div>

      <h2>Consulta tu estado</h2>
  
    
    <!-- Formulario para enviar la consulta -->
    <form class="form-create" method="post">
        {% csrf_token %} <!-- Token para proteger contra ataques CSRF -->
      
      <!-- Renderizar automáticamente cada campo del formulario -->
      {% for field in form %}
      <div class="form-group">
  
        {{ field.label_tag }} <!-- Etiqueta del campo -->
        {{ field }} <!-- Campo de entrada del formulario -->
      
        {% if field.errors %}
        {{ field.errors }} <!-- Mostrar errores de validación específicos del campo -->
        {% endif %}
  
      </div>
      {% endfor %}
  
      <!-- Botón para enviar el formulario -->
       
      <button type="submit" class="btn btn-success" style="margin-left: 100px;">Consultar</button>
       
      
    
    </form>
  
    
    <script src="{% static 'js/consulta/AlertConsulta.js' %}"></script>

</div>


{% endblock %}
