{% extends 'base.html' %}
{% load static %}

{% block sinNada %}
<br>
<br>
<div class="container-fluid">
    <br>
            {% include 'messages.html' %}
            <h4 style="text-align: center;"><b>Listado de equipos</b></h4>
            <table id="example1" class="table table-bordered table-hover">
                <thead class="table-secondary">
                    <tr>
                        <th>Id</th>
                        <th>Serial Contabilidad</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Serial</th>
                        <th>Procesador</th>
                        <th>Memoria RAM</th>
                        <th>Capacidad Máx</th>
                        <th>Tipo</th>
                        <th>Velocidad</th>
                        <th>Disco Duro</th>
                        <th>Capacidad</th>
                        <th>Versión Windows</th>
                        <th>Clave Windows</th>
                        <th>Versión Office</th>
                        <th>Clave Office</th>
                        <th>IP</th>
                        <th>Any Desk</th>
                        <th>Clave Admin</th>
                        <th>Funcionario a Cargo</th>
                        <th>Observaciones</th>
                        <th>Funcionario Registra</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                {% for equipo in equipos %}
                    <tr>
                        <td>{{ equipo.id }}</td>
                        <td>{{ equipo.serial_contabilidad }}</td>
                        <td>{{ equipo.marca }}</td>
                        <td>{{ equipo.modelo }}</td>
                        <td>{{ equipo.serial }}</td>
                        <td>{{ equipo.procesador }}</td>
                        <td>{{ equipo.memoria_ram }}</td>
                        <td>{{ equipo.capacidad_max }}</td>
                        <td>{{ equipo.tipo }}</td>
                        <td>{{ equipo.velocidad }}</td>
                        <td>{{ equipo.disco_duro }}</td>
                        <td>{{ equipo.capacidad }}</td>
                        <td>{{ equipo.version_windows }}</td>
                        <td>{{ equipo.clave_windows }}</td>
                        <td>{{ equipo.version_office }}</td>
                        <td>{{ equipo.clave_office }}</td>
                        <td>{{ equipo.ip }}</td>
                        <td>{{ equipo.any_desk }}</td>
                        <td>{{ equipo.clave_admin }}</td>
                        <td>{{ equipo.funcionario_a_cargo }}</td>
                        <td>{{ equipo.observaciones |truncatechars:50 }} <!-- Muestra solo los primeros 50 caracteres -->
                            {% if equipo.observaciones|length > 50 %} 
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modalVerMas{{ equipo.id }}">Ver más</a>
                            {% endif %}
                        </td>
                        <td>{{ equipo.funcionario_registra }}</td>
                        <td style="text-align: center;">
                            <a href="{% url 'editar_equipo' equipo.id %}" class="btn btn-success btn-sm">
                                <i class="fa fa-edit"></i>
                            </a>
                            
                        </td>
                        <td style="text-align: center;">
                            <a href="{% url 'eliminar_equipo' equipo.id %}" class="btn btn-danger btn-sm" 
                               onclick="return confirm('¿Estás seguro de que quieres eliminar este equipo?');">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                        {% include 'registro/modalVerMas.html' %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
</div>
{% endblock %}

