{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/register.css' %}">

<div class="container-fluid" style="padding-top: 35px; padding-left: 50px; padding-right: 50px;">

    {% include 'messages.html' %}

    <div class="container">
        <h2 class="my-3">Registrar Equipo</h2>

        <form method="post">
            {% csrf_token %}

            <!-- DATOS GENERALES -->
            <div class="row">
                <div class="col-md-3">
                    <label for="{{ form.serial_contabilidad.id_for_label }}">Serial Contabilidad</label>
                    {{ form.serial_contabilidad }}
                </div>

                <div class="col-md-3">
                    <label for="{{ form.marca.id_for_label }}">Marca equipo</label>
                    {{ form.marca }}
                </div>

                <div class="col-md-3">
                    <label for="{{ form.modelo.id_for_label }}">Modelo</label>
                    {{ form.modelo }}
                </div>

                <div class="col-md-3">
                    <label for="{{ form.serial.id_for_label }}">Serial equipo</label>
                    {{ form.serial }}
                </div>
            </div>

            <!-- HARDWARE -->
            <div class="row mt-3">
                <div class="col-md-3">
                    <label for="{{ form.procesador.id_for_label }}">Procesador</label>
                    {{ form.procesador }}
                </div>

                <div class="col-md-2">
                    <label for="{{ form.memoria_ram.id_for_label }}">Memoria RAM</label>
                    {{ form.memoria_ram }}
                </div>

                <div class="col-md-2">
                    <label for="{{ form.capacidad_max.id_for_label }}">Capacidad máxima RAM</label>
                    {{ form.capacidad_max }}
                </div>

                <div class="col-md-2">
                    <label for="{{ form.tipo.id_for_label }}">Tipo RAM</label>
                    {{ form.tipo }}
                </div>

                <div class="col-md-3">
                    <label for="{{ form.velocidad.id_for_label }}">Velocidad RAM</label>
                    {{ form.velocidad }}
                </div>
            </div>

            <!-- ALMACENAMIENTO -->
            <div class="row mt-3">
                <div class="col-md-3">
                    <label for="{{ form.disco_duro.id_for_label }}">Tipo de disco duro</label>
                    {{ form.disco_duro }}
                </div>

                <div class="col-md-3">
                    <label for="{{ form.capacidad.id_for_label }}">Capacidad disco</label>
                    {{ form.capacidad }}
                </div>

                <div class="col-md-3">
                    <label for="{{ form.version_windows.id_for_label }}">Versión de Windows</label>
                    {{ form.version_windows }}
                </div>

                <div class="col-md-3">
                    <label for="{{ form.clave_windows.id_for_label }}">Clave de Windows</label>
                    {{ form.clave_windows }}
                </div>
            </div>

            <!-- SOFTWARE -->
            <div class="row mt-3">
                <div class="col-md-4">
                    <label for="{{ form.version_office.id_for_label }}">Versión de Office</label>
                    {{ form.version_office }}
                </div>

                <div class="col-md-4">
                    <label for="{{ form.clave_office.id_for_label }}">Clave de Office</label>
                    {{ form.clave_office }}
                </div>

                <div class="col-md-4">
                    <label for="{{ form.ip.id_for_label }}">IP del equipo</label>
                    {{ form.ip }}
                </div>
            </div>

            <!-- ACCESO REMOTO -->
            <div class="row mt-3">
                <div class="col-md-3">
                    <label for="{{ form.any_desk.id_for_label }}">Número AnyDesk</label>
                    {{ form.any_desk }}
                </div>

                <div class="col-md-3">
                    <label for="{{ form.clave_admin.id_for_label }}">Clave administrador AnyDesk</label>
                    {{ form.clave_admin }}
                </div>

                <div class="col-md-3">
                    <label for="{{ form.funcionario_a_cargo.id_for_label }}">Funcionario a cargo</label>
                    {{ form.funcionario_a_cargo }}
                </div>

                <div class="col-md-3">
                    <label for="{{ form.agencia.id_for_label }}">Agencia</label>
                    {{ form.agencia }}
                </div>
            </div>

            <!-- OBSERVACIONES -->
            <div class="row mt-3">
                <div class="col-md-12">
                    <label for="{{ form.observaciones.id_for_label }}">Observaciones</label>
                    {{ form.observaciones }}
                </div>
            </div>

            <!-- CAMPO OCULTO -->
            <div class="row mt-3 d-none">
                <div class="col-md-12">
                    {{ form.funcionario_registra }}
                </div>
            </div>

            <!-- BOTÓN -->
            <div class="row mt-4">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success px-5">Guardar</button>
                </div>
            </div>

        </form>
    </div>

</div>

{% endblock %}
